
@media screen and (max-width: 768px) {
    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
          background-color: rgb(40, 40, 40);



        margin: 0;
        padding: 1rem 0 1rem 0;

        
        
    }


    .section .h3 {
        color: wheat;
        padding: 1rem;
        margin: 0;
        font-weight: 700;
        font-size: clamp(1.5rem, 10dvw, 1.7rem);
    }


 .section .fotoPerfil {
        max-height: 200px;
        min-width: 200px;
        border-radius: 50%;
        padding: .5rem;
        margin: 1rem;
    }


    .section .p {
        width: 90%;
        color: rgb(255, 255, 255);
        padding: .5rem;
        border: 1px solid wheat;
        border-radius: 5px;
        text-align: justify;
        text-wrap:  balance;
        /* box-shadow: 3px 1px 4px wheat;  */
    }

}