
@media screen and (max-width: 480px) {
    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(15, 15, 15);
        margin: 0;
        padding: 0;
        
        
    }


    .section .h3 {
        color: wheat;
        padding: 1rem;
        margin: 0;
        font-weight: 700;
    }


 .section .fotoPerfil {
        max-height: 200px;
        min-width: 200px;
        border-radius: 50%;
        padding: .5rem;
        margin: 1rem;
    }


    .section .p {
        width: 90%;
        color: rgb(255, 255, 255);
        padding: .5rem;
        border: 1px solid wheat;
        border-radius: 5px;
        /* box-shadow: 3px 1px 4px wheat;  */
    }

}