/* mobile styles */

.section {
  align-items: center;
  /* background-color: rgb(40, 40, 40); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 1rem 0 1rem 0;
}

.section .div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  justify-content: center;
}



.section .h3 {
  color: wheat;
  font-size: clamp(1.5rem, 10dvw, 1.7rem);
  font-weight: 700;
  margin: 0;
  padding: 1rem;
  /* view-timeline-name: --image;
        view-timeline-axis: block;
        animation-timeline: --image;
        animation-name: fadeIn;
        animation-range: entry 5% cover 50%; */
}

.section .div .fotoDiv {
  animation: shine 1s linear infinite alternate;
  background-image: url("../../../assets/fotoPerfil.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10%;
  height: 250px;
  max-height: fit-content;
  min-width: 250px;
}

.section .fotoPerfil {
  border-radius: 20%;
  filter: drop-shadow(0 0 0.75rem rgb(65, 62, 62));
  margin: 1rem;
  max-height: 200px;
  min-width: 200px;
  padding: 0.5rem;

  /* view-timeline-name: --image;
        view-timeline-axis: block;
        animation-timeline: --image;
        animation-name: fadeIn;
        animation-range: entry 5% cover 50%; */
}

.section .p {
  border-radius: 5px;
  color: rgb(180, 180, 180);
  padding: 0.5rem;
  text-align: justify;
  text-wrap: balance;
  width: 90%;
  /* view-timeline-name: --image;
        view-timeline-axis: block;
        animation-timeline: --image;
        animation-name: fadeIn;
        animation-range: entry 5% cover 50%; */
}

/* small tablets and laptop styles */
@media screen and (min-width: 768px) {
  .section {
    align-items: center;
    /* background-color: rgb(40, 40, 40); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 1rem 0 1rem 0;
  }

  .section .div {
    align-items: center;
    flex-direction: row-reverse;
    gap: 2rem;
    justify-content: space-around;
    padding: 1rem;
    width: 90%;
  }

  .section .h3 {
    color: wheat;
    font-size: clamp(1.5rem, 10dvw, 1.7rem);
    font-weight: 700;
    margin: 0;
    padding: 1rem;
    width: 70%;
    text-align: center;
    /* view-timeline-name: --image;
        view-timeline-axis: block;
        animation-timeline: --image;
        animation-name: fadeIn;
        animation-range: entry 5% cover 50%; */
  }

  .section .div .fotoDiv {
    background-image: url("../../../assets/fotoPerfil.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10%;
    width: 30%;
    filter: drop-shadow(0 0 0.75rem wheat);
    height: 250px;
    max-width: 250px;
  }



  .section .p {
    border-radius: 5px;
    color: rgb(180, 180, 180);
    padding: 1rem;
    text-align: justify;
    text-wrap: balance;
    width: 60%;
    /* view-timeline-name: --image;
        view-timeline-axis: block;
        animation-timeline: --image;
        animation-name: fadeIn;
        animation-range: entry 5% cover 50%; */
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  .section {
    align-items: center;
    /* background-color: rgb(40, 40, 40); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 1rem 0 1rem 0;
  }

  .section .div {
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 1rem;
    width: 80%;
  }
  

  .section .fotoPerfil {
    filter: drop-shadow(0 0 0.75rem rgb(65, 62, 62));
    margin: 1rem;
    max-height: 350px;
    max-width: 350px;
    min-height: 250px;
    padding: 0.5rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0px);
  }
}

@keyframes shine {
  0% {
    filter: drop-shadow(0 0 1rem wheat);
  }
  100% {
    filter: drop-shadow(0 0 0.5rem wheat);
  }
}
