.section {
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.section .h2 {
    color: rgb(255, 255, 255);
    padding: 1rem;
    font-weight: 700;
    color: wheat;

}

.section .div {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section .ul {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(15, 15, 15);
    list-style: none;
    flex-direction: column;
    width: 100%;
    margin: 0;
    flex-grow: 1;
 
    flex-grow: 1;
    padding: 2rem;
}



.section .ul .li{
padding: .5rem;
}

.section .ul .img {
    padding: 5px;
    font-size: 4rem;
    color: white

}
