/* mobile styles */
.section {
  align-items: center;
  background-color: rgb(40, 40, 40);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 90vh;
  justify-content: center;
  overflow: hidden;
  /* margin-top: 3.5rem; */
  padding: 1rem 0 1rem 0;
  position: relative;
}

.section .fondo {
  border: none;
  filter: blur(2.5px);

  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.section .divTittle {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  z-index: 13;
}

.section .divTittle .h2 {
  /* margin: 1.5rem; */
  align-self: flex-start;
  animation: fadeIn 1s ease;
  color: wheat;
  font-size: clamp(2.5rem, 10dvw, 3rem);
  padding: 1rem;
  z-index: 10;
}

.section .divTittle .h3FED {
  align-self: flex-start;
  animation: fadeIn 1s ease;
  color: rgb(255, 255, 255);
  /* margin: 1.5rem; */
  font-size: clamp(1.5rem, 10dvw, 1.7rem);
  padding: 1rem;
  z-index: 11;
}

.section .divTittle .h3 {
  align-self: flex-start;
  animation: fadeIn 1s ease;
  color: rgb(255, 255, 255);
  /* margin: 1.5rem; */
  font-size: clamp(1.5rem, 10dvw, 1.7rem);
  padding: 1rem;
  z-index: 11;
}

.section .divTittle .h3FED .guion {
  animation: activeDisable 1s infinite;
  color: white;
}

.section .div {
  display: flex;

  justify-content: space-between;
  min-width: 355px;
  padding: 0.5rem;
  z-index: 14;
}

.section .div .button {
  animation: fadeIn 1s ease;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 1.5rem;
  padding: 0.5rem;
  transition: all 0.5s ease;

  &:hover {
    background-color: rgb(31, 30, 30);
    border: 1px solid white;
    color: rgb(255, 255, 255);
    transform: scale(1.2);
  }
}

.section .div .button .a {
  color: rgb(31, 30, 30);
  height: 500px;
  text-decoration: none;
  transition: all 0.2s ease;
  width: 100%;

  &:hover {
    color: rgb(255, 255, 255);
  }
}

.section .div .button .a .svg {
  font-size: clamp(1.5rem, 10dvw, 2rem);
  transition: all 0.2s ease;
  text-align: center;
}

.section .flecha {
  animation: fadeIn 1s ease;

  animation: slideUpDown 1s infinite alternate;
  max-width: 5rem;
  padding: 0.5rem;
  z-index: 15;
}

/* small tablets and laptop styles */
@media screen and (min-width: 768px) {
  .section {
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 90vh;
    justify-content: center;
    overflow: hidden;
    padding: 1rem 0 1rem 0;
    position: relative;
  }

  .section .divTittle {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    z-index: 13;
  }

  .section .fondo {
    border: none;
    filter: blur(2.5px);
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .section .divTittle .h2 {
    animation: fadeIn 1s ease;
    color: wheat;
    font-size: clamp(2.5rem, 10dvw, 3rem);
    /* margin: 1.5rem; */

    padding: 1rem;
    z-index: 10;
  }

  .section .divTittle .h3FED {
    animation: fadeIn 1s ease;
    color: rgb(255, 255, 255);
    /* margin: 1.5rem; */
    font-size: clamp(1.5rem, 10dvw, 1.7rem);
    padding: 1rem;
    text-align: center;
    z-index: 11;
  }

  .section .divTittle .h3 {
    animation: fadeIn 1s ease;
    color: rgb(255, 255, 255);
    /* margin: 1.5rem; */
    font-size: clamp(1.5rem, 10dvw, 1.7rem);

    padding: 1rem;
    z-index: 12;
  }

  .section .divTittle .h3FED .guion {
    animation: activeDisable 1s infinite;
    color: white;
  }

  .section .div {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    min-width: 355px;
    z-index: 14;
  }

  .section .div .p {
    color: rgb(255, 255, 255);
    padding: 0.5rem;
  }

  .section .div .button {
    animation: fadeIn 1s ease;
    background-color: rgb(255, 255, 255);
    border: none;
    border: 1px solid white;
    border-radius: 20px;
    margin: 1.5rem;
    padding: 0.5rem;
    transition: all 0.5s ease;

    &:hover {
      background-color: rgb(31, 30, 30);
      border: 1px solid white;
      color: rgb(255, 255, 255);
      transform: scale(1.2);
    }
  }

  .section .div .button .a {
    color: rgb(31, 30, 30);
    height: 500px;
    text-decoration: none;
    transition: all 0.2s ease;
    width: 80px;

    &:hover {
      color: rgb(255, 255, 255);
    }
  }

  .section .div .button .a .svg {
    font-size: clamp(1.5rem, 10dvw, 2rem);
    transition: all 0.2s ease;
  }

  .section .flecha {
    align-self: center;
    animation: fadeIn 1s ease;

    animation: slideUpDown 1s infinite alternate;
    max-width: 5rem;
    padding: 0.5rem;
    z-index: 15;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}

/* animations */
@keyframes slideUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
  }
}

@keyframes activeDisable {
  0% {
    visibility: visible;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0px);
  }
}
